@layer reset, variables, global, custom;

@layer variables {
  :root {
    color-scheme: light dark;

    /* Cal Poly Green */

    --color-cal-poly-green-50: #e9ece9;
    --color-cal-poly-green-100: #bcc4bc;
    --color-cal-poly-green-200: #9ba79c;
    --color-cal-poly-green-300: #6e7f6e;
    --color-cal-poly-green-400: #516652;
    --color-cal-poly-green-500: #264027;
    --color-cal-poly-green-600: #233a23;
    --color-cal-poly-green-700: #1b2d1c;
    --color-cal-poly-green-800: #152315;
    --color-cal-poly-green-900: #101b10;

    /* Colors */
    --color-primary: #67003c;
    --color-secondary-orange: #c7400f;
    --color-secondary-green: #264027;

    /* Deep Burgundy */
    --color-deep-burgundy-50: #f0e6ec;
    --color-deep-burgundy-100: #d0b0c3;
    --color-deep-burgundy-200: #b98aa5;
    --color-deep-burgundy-300: #99547c;
    --color-deep-burgundy-400: #853363;
    --color-deep-burgundy-500: #67003c;
    --color-deep-burgundy-600: #5e0037;
    --color-deep-burgundy-700: #49002b;
    --color-deep-burgundy-800: #390021;
    --color-deep-burgundy-900: #2b0019;

    /* Light Cream */
    --color-light-cream-50: #fffbf6;
    --color-light-cream-100: #fff1e1;

    /* Neutral colors */
    --color-neutral-50: #e6e6e6;
    --color-neutral-100: #cecece;
    --color-neutral-200: #b5b5b5;
    --color-neutral-300: #9d9d9d;
    --color-neutral-400: #848484;
    --color-neutral-500: #6c6c6c;
    --color-neutral-600: #535353;
    --color-neutral-700: #3b3b3b;
    --color-neutral-800: #222222;
    --color-neutral-900: #090909;

    /* Terra Cotta */

    --color-terra-cotta-50: #f9ece7;
    --color-terra-cotta-100: #eec4b5;
    --color-terra-cotta-200: #e5a791;
    --color-terra-cotta-300: #d97f5e;
    --color-terra-cotta-400: #d2663f;
    --color-terra-cotta-500: #c7400f;
    --color-terra-cotta-600: #b53a0e;
    --color-terra-cotta-700: #8d2d0b;
    --color-terra-cotta-800: #6d2308;
    --color-terra-cotta-900: #541b06;

    /* Font sizes */
    --step--2: clamp(0.6944rem, 0.6577rem + 0.1836vw, 0.8rem);
    --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
    --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    --step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
    --step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
    --step-3: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
    --step-4: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
    --step-5: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);

    /* Spacing */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

    /* Other */
    --border-radius: 8px;
    --max-width: 1440px;
  }
}
